<?xml version="1.0" encoding="UTF-8" ?>
<module>
<name>alsernetgooglegtm</name>
<displayName><![CDATA[Alsernet - Gestionar etiquetas de Google Tag Manager]]></displayName>
<version><![CDATA[1.0.0]]></version>
<description><![CDATA[ste módulo gestiona las etiquetas para la analítica de datos con Google]]></description>
<author><![CDATA[Alsernet]]></author>
<tab><![CDATA[front_office_features]]></tab>
<confirmUninstall><![CDATA[¿Desea desinstalar?]]></confirmUninstall>
<is_configurable>0</is_configurable>
<need_instance>0</need_instance>
<limited_countries></limited_countries>
</module>
